<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile_page.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <!-- MAKE A PARITAL HEADER FILE TO HOLD NAV DETAILS -->


<main>
<div class="card">
  <div class="card-header" role="tab" id="headingTwo">
    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h5 class="mb-0">Maps Contributed:</h5>
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script src="/routes/mapListQuery.js"></script>
    </a>
  </div>
  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="card-body">
     <div class="d-flex justify-content-center">
          <ul id="contribution-list" class="list-group">
            <% for(var a = 0; a < contributions.length; a = a + 1) {%>
              <li class="list-group-item">
                <a href="/maps/<%= contributions[i].map_id %>">
                  <p class="title"><%= contributions[i].name %></p>
                  <p class="description">
                    <%= contributions[i].description%>
                  </div>
   <div id="custom-point-feed class=" map-body">
      <ul class="body">
        <% if (user) { %>
         <span class="button">
          <a id="arrow-back-button" class="button-text" href=#>← Back to Map List</a>
           </span>
          <% } %>
           <div id="map-info-container"></div>
            </ul>
            <% if (user) { %>
            <div>
            <span class="selector-bar">
            <!-- <a class="edit-map-cta" href=#>✏️ Edit a Map</a>
                        <div class="pen" href="/:id/edit-map-cta"></div>
                        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
                        <script src="/lib/mapQueries.js"></script>
                        <% if(!user){ %>
                          <div class="navbar-nav">
                            <a class="nav-item nav-link" href="/register">Register</a>
                            <a class="nav-item nav-link" href="/login">Login</a>
                          </div>
                          <% } else { %>
                          <div class="navbar-nav">
                            <h6 class="username">Logged in as: <%= user.username %></h6>
                            <form action="/logout" method="POST">
                              <button type="submit" class="btn btn-outline-light">Logout</button>
                            </form>
                            <% } %>
                          </div> -->
                          <h3>My Maps</h3>
    <!-- <table class="table">
      <tbody>
        <% for(let map in userMaps) { %>
          <tr>
            <td> <a href="/urls/<%= url %>"><%= url %></a></td>
            <td><%= urls[url].longURL %></td>
            <td>
              <form method="GET" action="/urls/<%= url %>">
              <button type="submit">Edit</button>
            </form>
          </td>
            <td>
              <form method="POST" action="/urls/<%= url %>/delete">
              <button type="submit">Delete</button>
            </form>
          </td>
          </tr>
        <% } %>
      </tbody>
    </table> -->
                        </main>
</html>



